.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: linear; /*之前是ease-out*/
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    margin: 0 auto;
}
.main_1 {
    background: url(../img/bg08.jpg)no-repeat;
    padding: 0 0.133rem;
    padding-bottom: 0.81rem;
}
.main_1  h3 {
    font-size: 0.5rem;
    color: #ffffff;
    text-align: center;
    padding: 1.17rem 0 0.55rem 0;
    line-height: 0.65rem;

}
.swiper_01 {
    border-radius: 0.53rem;
    box-shadow: 0rem 0.13rem 0.08rem 0rem 
        rgba(33, 62, 114, 0.3);
    position: relative;
}
.swiper_01 .swiper-slide img {
    width: 100%;
}
.swiper_01 .swiper-button-prev{
    width: 1.03rem;
    height: 0.85rem;
    background: url(../img/p34.png)no-repeat;
    background-size: 100%;
}
.swiper_01 .swiper-button-next{
    width: 1.03rem;
    height: 0.85rem;
    background: url(../img/p35.png)no-repeat;
    background-size: 100%;
} 
.swiper_01 .swiper-pagination {
    position: absolute;
    left: 6rem;
    bottom: 0;
    width: 1rem;
}
.swiper_01 .swiper-pagination-bullet {
    width: 0.13rem;
	height: 0.13rem;
	background-color: #ffffff;
	opacity: 0.5;
}
.swiper_01 .swiper-pagination-bullet-active{
    opacity: 1;
}
.main_2 .swiper_02 img{
    width: 100%;
}
.main_3 {
    background: url(../img/bg16.jpg)no-repeat;
    height: 12rem;
    background-size:100%; 
    position: relative;
    padding: 0 0.133rem;
}
.main_3 h3 {
    font-size: 0.6rem;
    text-align: center;
    color: #fff;
    padding: 1.33rem 0 0.44rem 0;
}
.main_3 h6 {
    font-size: 0.48rem;
    text-align: center;
    color: #fff;
}
.main_3 ul li {
    position: absolute;
}
.main_3 ul li b {
    width: 3rem;
    height: 3rem;
    display: block;
    float: left;
    text-align: center;
}
.main_3 ul li b img {
    width: 80%;
}
.main_3 ul li p{
    font-size: 0.33rem;
    color: #213e72;
    line-height: 0.45rem;
    float: left;
}
.l1 {
    left: 0.2rem;
    top: 3.3rem;
}
.l1 p {
    width: 2.79rem;
    margin-top: 0.87rem;
}
.l2 {
    right: 0;
    top: 5.4rem;
}
.l2 p {
    width: 3rem;
    margin-top: 0.87rem;
}
.l2 b{
    float: right !important; 
}
.l3 {
    left: 0.8rem;
    top: 8.5rem;;
}
.l3 p {
    width: 3rem;
    margin-top: 0.6rem;
}
.main_4  {
    background: #b2d1e9;
    padding-bottom: 0.53rem;
}
.main_4  .swiper_03 {
    background: #e3e3e3;
    height: 3.5rem;
    padding-top: 0.6rem;
}
.main_4 img {
    width: 100%;;
}